<div type="text/html" id="map">
</div>

<script  async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials[Rails.env.to_sym][:google_places_key].to_s %>&callback=initMap">
</script>


